#main-title
{
    font-family: 맑은고딕, 고딕, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #646464;
    padding-left: 25px;
}


.text-center
{
    text-align:center;
}

.margin-top
{
    margin-top:30px;
}

.DC
{
    float:left;
}



/*----------------------------dd-------------------------*/

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(143,27,15,0.8);
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}


/*----------------------------dd-------------------------*/

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

#aa
{
}

#aa1
{
    padding-left: 120px;

}